%p User info
%p
  %b Name:
  = @user.name
%p
  %b City:
  = @user.city
%h4.new_line="#{@user.name}'s tasks"
.my_offers=render partial: 'shared/tasks', locals:{tasks:@offers}
=#{link_to 'Back', users_path}